<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>crowdfunding</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:spring/spring-*.xml</param-value>
  </context-param>

  <!--
         监听器作用：
            监听servletContext容器，当服务器启动的时候，就创建spring
            的ioc容器，然后将其放作用域中，具体的取得时候，可以在contextLoaderLister中
            查询。
          同理以这个监听器，可以自定义一个
   -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <!--配置监听器：监听servletContext,保证域中取项目的path-->
  <listener>
    <listener-class>com.dhb.atcrowdfunding.listener.MyAppPathListener</listener-class>
  </listener>

  <!-- 字符编码过滤器 -->
  <filter>
    <filter-name>encoding</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!--基于rest风格的请求方式的转换：-->
  <filter>
    <filter-name>HiddenHttpMethodFilter</filter-name>
    <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HiddenHttpMethodFilter</filter-name>
    <servlet-name>springmvc</servlet-name>
  </filter-mapping>

  <!--配置前端控制器：-->
  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring/springmvc-context.xml</param-value>
    </init-param>
    <!--设置服务器启动的时候，创建springmvc容器：-->
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <!--
         解决静态资源的被拦截的方式
            a.如果没有业务的逻辑的话，使用.htm
            b.如果有业务逻辑的话，使用.do
    -->
    <url-pattern>*.htm</url-pattern>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

  <!--
        会话超时时间
            session的默认超时时间是30min
   -->
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>

  <!--设置欢迎页面是index.jsp-->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>


</web-app>